@import "tailwindcss";

/* --- Floating Glow Animation --- */
@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes glowPulse {
  0%,
  100% {
    box-shadow: 0 0 10px 4px rgba(174, 246, 59, 0.6),
      0 0 20px 8px rgba(59, 130, 246, 0.3);
  }
  50% {
    box-shadow: 0 0 20px 6px rgba(253, 93, 0, 0.8),
      0 0 40px 12px rgba(37, 99, 235, 0.4);
  }
}

/* Class you can apply */
.glow-float {
  border-radius: 50%;
  animation: floatUpDown 3s ease-in-out infinite,
    glowPulse 2.5s ease-in-out infinite;
  transition: transform 0.3s ease;
}

@keyframes bounceLeft {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-8px);
  }
}

.arrow-bounce {
  animation: bounceLeft 1.2s ease-in-out infinite;
}
